CAN
cat_voc.pkl
cate_carte_voc.pkl
item-info
item_carte_voc.pkl
jointed-new
jointed-new-split-info
local_test
local_test_splitByUser
local_train
local_train_splitByUser
log/
meta_Books.json
mid_voc.pkl
reviews-info
reviews_Books.json
reviews_Books.json.gz
uid_voc.pkl

